<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">

                </span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
            <i class="menu-icon mdi mdi-linkedin"></i>
            <i class="menu-icon mdi mdi-youtube-play"></i>
            <i class="menu-icon mdi mdi-git"></i>
            <a href="https://ychernyshev.vercel.app/" class="text-info" target="_blank">
                ychernyshev.versel.com
            </a>
        </span>
    </div>
</footer>