{% extends 'example__simple_shop/_base.html' %}

{% block content %}
<div class=" d-flex align-items-center justify-content-center">
    <div class="col-xl-8 col-lg-8 col-sm-12 col-12 text-center">
        <h3 class="display-5">Fill the form below to register an account</h3>
        <h5 class="display-5">If you have no account, <a href="{% url 'example__simple_shop:login' %}"
                                                         class="text-secondary">login</a>.
        </h5>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="amado-btn">Register</button>
        </form>
    </div>
</div>
{% endblock %}