/*Buttons*/
    .button-warning {
        background: #F5B600;
        box-shadow: 0 0 .3rem .2rem rgba(222, 227, 234, .6);
        border-radius: .2rem;
        font-size: 1.1rem;
    }

    .button-warning:hover {
        box-shadow: 0 0 .2rem .1rem rgba(222, 227, 234, .6);
        background: #F5B600;
        font-size: 1.1rem;
        transition: .22s;
    }
/*End of Buttons*/

/*Text*/
.text-primary-dark {
    color: #607084;
}

.text-primary-darker {
    color: #344050;
}
/*End Text*/


/*Nav*/
.left-nav {
    a {
        color: #607084;
    }
    &:hover,
    &:focus {
        color: #344050;
    }
}

a.left-nav:active {
    color: #344050;
}
/*End Nav*/

/*Text*/
.text-secondary-color {
    color: #607084;
}
/*End of Text*/

/*Font Size*/
.font-1 {
    font-size: 1rem;
}

.font-2 {
    font-size: 1.3rem;
}

.font-3 {
    font-size: 1.6rem;
}

.font-4 {
    font-size: 1.9rem;
}

.font-5 {
    font-size: 2.1rem;
}

.font-6 {
    font-size: 2.4rem;
}
/*End of the Font Size*/