{% extends 'example__simple_admin/_base.html' %}

{% block title %}"{{ form.title }}" details{% endblock %}

{% block content %}
    <div class="single-product-area section-padding-100 clearfix">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mt-50">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Furniture</a></li>
                            <li class="breadcrumb-item"><a href="#">Chairs</a></li>
                            <li class="breadcrumb-item active" aria-current="page">white modern chair</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li class="" data-target="#product_details_slider" data-slide-to="0"
                                    style="background-image: url(img/product-img/pro-big-1.jpg);">
                                </li>
                                <li data-target="#product_details_slider" data-slide-to="1"
                                    style="background-image: url(img/product-img/pro-big-2.jpg);" class="">
                                </li>
                                <li data-target="#product_details_slider" data-slide-to="2"
                                    style="background-image: url(img/product-img/pro-big-3.jpg);" class="active">
                                </li>
                                <li data-target="#product_details_slider" data-slide-to="3"
                                    style="background-image: url(img/product-img/pro-big-4.jpg);">
                                </li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item">
                                    <a class="gallery_img" href="img/product-img/pro-big-1.jpg">
                                        <img class="d-block w-100" src="img/product-img/pro-big-1.jpg"
                                             alt="First slide">
                                    </a>
                                </div>
                                <div class="carousel-item">
                                    <a class="gallery_img" href="img/product-img/pro-big-2.jpg">
                                        <img class="d-block w-100" src="img/product-img/pro-big-2.jpg"
                                             alt="Second slide">
                                    </a>
                                </div>
                                <div class="carousel-item active">
                                    <a class="gallery_img" href="img/product-img/pro-big-3.jpg">
                                        <img class="d-block w-100" src="img/product-img/pro-big-3.jpg"
                                             alt="Third slide">
                                    </a>
                                </div>
                                <div class="carousel-item">
                                    <a class="gallery_img" href="img/product-img/pro-big-4.jpg">
                                        <img class="d-block w-100" src="img/product-img/pro-big-4.jpg"
                                             alt="Fourth slide">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="single_product_desc">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p class="product-price d-flex flex-row my-auto">${{ form.price }}</p>
                            <h6 class="my-3">{{ form.title }}</h6>
                            <h6 class="my-3">{{ form.category }}</h6>
                            <!-- Avaiable -->
                            <div class="row d-flex my-3">
                                <div class="col-xl-3 col-lg-3 col-sm-4 col-4 my-auto text-center">{{ form.in_stock }} In
                                    Stock
                                </div>
                                <div class="col-xl-9 col-lg-9 col-sm-6 col-6">{{ form.count }}</div>
                            </div>
                        </div>

                        <div class="short_overview my-5">
                            <p>{{ form.description }}</p>
                        </div>
                        <button type="submit" name="addtocart" value="5" class="btn amado-btn my-5">Save updates</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}