{% load static %}
{% url 'example__simple_shop:shop' as home_page %}
{% url 'example__simple_shop:product' as product_page %}
{% url 'example__simple_shop:cart' as cart_page %}
{% url 'example__simple_shop:checkout' as checkout_page %}
{% url 'example__simple_shop:login' as login_page %}
{% url 'example__simple_shop:register' as register_page %}
{% url 'example__simple_shop:user_page' as user_page %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Shop: {{ title }}{% block title %}{% endblock %}</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'example__simple_shop/img/core-img/favicon.ico' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'example__simple_shop/css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'example__simple_shop/css/style.css' %}">
</head>
<body>
<!-- Search Wrapper Area Start -->
<div class="search-wrapper section-padding-100">
    <div class="search-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-content">
                    <form action="#" method="get">
                        <input type="search" name="search" id="search" placeholder="Type your keyword...">
                        <button type="submit"><img src="{% static 'example__simple_shop/img/core-img/search.png' %}"
                                                   alt=""></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search Wrapper Area End -->
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="amado-navbar-brand">
            <a href="{% url 'example__simple_shop:shop' %}"><img
                    src="{% static 'example__simple_shop/img/core-img/logo.png' %}" alt=""></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="amado-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area clearfix">
        <!-- Close Icon -->
        <div class="nav-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <!-- Logo -->
        <div class="logo">
            <a href="{% url 'example__simple_shop:shop' %}"><img src="{% static 'example__simple_shop/img/core-img/logo.png' %}" alt=""></a>
        </div>
        <!-- Amado Nav -->
        <nav class="amado-nav left-nav">
            <ul>
                <li class="{% if request.path == home_page %}active{% endif %}"><a
                        href="{% url 'example__simple_shop:shop' %}">Shop</a></li>
            </ul>
        </nav>
        <!-- Button Group -->
        {% if request.user.is_authenticated %}
        <h6 class="text-primary-darker mt-5">Hello, {% if request.user.is_authenticated %}
            <strong>{{ user.username }}</strong>
            {% endif %}</h6>

        <!-- Cart Menu -->
        <div class="cart-fav-search mb-100 text-secondary-color">
            {% if count_in_cart %}
                <a href="{% url 'example__simple_shop:cart' %}" class="cart-nav"><img
                        src="{% static 'example__simple_shop/img/core-img/cart.png' %}" alt=""> Cart
                    <span>({{ count_in_cart }})</span></a>
            {% else %}
                <a href="{% url 'example__simple_shop:cart' %}" class="cart-nav disabled"><img
                        src="{% static 'example__simple_shop/img/core-img/cart.png' %}" alt=""> Cart
                    <span>({{ count_in_cart }})</span></a>
            {% endif %}
            <a href="#" class="fav-nav"><img src="{% static 'example__simple_shop/img/core-img/favorites.png' %}"
                                             alt=""> Favourite</a>
            <a href="#" class="search-nav"><img src="{% static 'example__simple_shop/img/core-img/search.png' %}"
                                                alt=""> Search</a>
            <nav class="amado-nav left-nav">
                <ul>
                    <li><a href="{% url 'example__simple_shop:logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>
        {% else %}
        <nav class="amado-nav left-nav mt-5 mb-5">
            <ul>
                <li class="{% if request.path == login_page %}active{% endif %}">
                    <a href="{% url 'example__simple_shop:login' %}"
                       class="left-nav text-warning">Login</a>
                </li>
                <li class="{% if request.path == register_page %}active{% endif %}">
                    <a href="{% url 'example__simple_shop:register' %}"
                       class="left-nav">Register</a>
                </li>
            </ul>
        </nav>
        {% endif %}
        <!-- Social Button -->
        <div class="row justify-content-center mt-5">
            <a href="https://ychernyshev.vercel.app/" class="text-primary-dark mx-auto" target="_blank">ychernyshev.vercel.com</a>
        </div>
        <div class="social-info d-flex justify-content-between mt-3">
            <a href="https://www.linkedin.com/in/ychernyshev/" target="_blank"><i class="fa fa-linkedin"
                                                                                  aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/@165000klmn/videos" target="_blank"><i class="fa fa-youtube"
                                                                                    aria-hidden="true"></i></a>
            <a href="https://github.com/ychernyshev?tab=repositories" target="_blank"><i class="fa fa-git"
                                                                                         aria-hidden="true"></i></a>
        </div>
    </header>
    <!-- Header Area End -->
    {% block content %}{% endblock %}
</div>

<script src="{% static 'example__simple_shop/js/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'example__simple_shop/js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'example__simple_shop/js/bootstrap.min.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'example__simple_shop/js/plugins.js' %}"></script>
<!-- Active js -->
<script src="{% static 'example__simple_shop/js/active.js' %}"></script>
</body>
</html>