{% extends 'example__simple_shop/_base.html' %}

{% block title %}{{ product_details.title }} - ${{ product_details.price }}{% endblock %}

{% block content %}
    <div class="single-product-area section-padding-100 clearfix">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mt-50">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Furniture</a></li>
                            <li class="breadcrumb-item"><a href="#">Chairs</a></li>
                            <li class="breadcrumb-item active" aria-current="page">white modern chair</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                            <img src="{{ product_details.main_image }}" alt="{{ product_details.title }}">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="single_product_desc">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="d-flex justify-content-between">
                                <div>
{#                                    <div class="line"></div>#}
                                    <p class="product-price d-flex align-items-center justify-content-center" style="height: 3rem">${{ product_details.price }}</p>
                                </div>
                                <!-- Add to Cart Form -->
                                <form class="cart clearfix" method="post">
                                    <a href="{{ request.path }}?add_cart={{ product_details.id }}"
                                       class="btn amado-btn d-flex align-items-center justify-content-center" style="width: 3rem; height: 3rem">Add to cart</a>
                                </form>
                            </div>
                            <a href="product-details.html">
                                <h6>{{ product_details.title }}</h6>
                            </a>
                            <!-- Ratings & Review -->
                            <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="review">
                                    <a href="#">Write A Review</a>
                                </div>
                            </div>
                            <!-- Avaiable -->
                            {% if product_details.in_stock %}
                                <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                            {% else %}
                                <p class="is_not_avaibility"><i class="fa fa-circle"></i> Not in Stock</p>
                            {% endif %}
                        </div>

                        <div class="short_overview my-5">
                            <p>{{ product_details.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}